.edit-project{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    form{
        display: flex;
        flex-direction: column;
        input{
            margin-bottom: 10px;
            border-radius: 5px;
            border: none;
            width: 500px;
            height: 30px;
            text-align: center;
        }
        textarea{
            width: 500px;
            height: 50px;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        label{
            margin-left: auto;
            margin-right: auto;
        }
        input[type=file] {
            width: 500px;
            height: 50px;
            color: #222245;
            padding: 8px;
            background-color: #fff;
            border: none;
            }

            input[type=file]:focus {
            outline: 2px dashed #222245;
            outline-offset: 2px;
            }

            input[type=file]::file-selector-button {
            margin-right: 8px;
            border: none;
            background: #222245;
            padding: 8px 12px;
            color: #fff;
            cursor: pointer;
            }

            input[type=file]::file-selector-button:hover {
            background: #4747b8;
            }
    }
}