.dashboard-admin {
  display: flex;
  min-height: 100vh;
  position: relative;
  z-index: 1;

  // Sidebar
  .sidebar {
    width: 250px;
    height: 700px;
    margin-top: 450px;
    margin-left: -450px;
    background-color: #1f1f1f;
    border: 2px solid #a855f7;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    ul {
      list-style: none;
      width: 100%;

      li {
        margin: 1rem 0;

        button {
          width: 100%;
          padding: 0.5rem;
          border: none;
          border-radius: 10px;
          background-color: #000;
          color: #fff;
          cursor: pointer;
          border: 1px solid #a855f7;
        }
      }
    }
  }

  // Main content
  .main-content {
    flex: 1;
    margin-left: 50px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 1;

    // Navbar horizontale
    .admin-navbar {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #a855f7;
      padding-bottom: 1rem;

      button {
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: 1px solid #a855f7;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        margin: 0 10px;
      }
    }

    // Stats
    .stats-container {
      display: flex;
      gap: 1rem;

      .stat-card {
        flex: 1;
        background-color: #1f1f1f;
        border: 2px solid #a855f7;
        border-radius: 15px;
        padding: 2rem;
        text-align: center;
        color: #fff;
      }
    }
  }
}
