.form-contact{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    h3{
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
    }
    input{
        margin-top: 10px;
        border-radius: 5px;
        height: 40px;
        border: 1px solid white;
        margin-bottom: 10px;
    }
    .envoi{
        height: 50px;
        border-radius: 20px;
        margin-top: 10px;
        background-color: #1e293b;
        border: 1px solid #1e293b;
        color: white;
        font-size: 20px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    textarea{
        border: 1px solid white;
        height: 80px;
        border-radius: 5px;
    }
}
@media (max-width: 768px) {
.form-contact{
    width: 250px;
}

}