@use "./base/variables" as *;
/* === Reset === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Structure globale === */
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: #000; /* Fond noir */
  color: #fff; /* Texte blanc */
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

/* === Glow violet dans le coin === */
.glow {
  position: fixed;
  bottom: -250px;
  right: -250px;
  width: 900px;
  height: 900px;

  background: radial-gradient(
    circle,
    rgba(150, 0, 255, 0.8) 0%,
    rgba(150, 0, 255, 0.4) 30%,
    rgba(0, 0, 0, 0) 70%
  );

  filter: blur(140px);
  z-index: -1;
  pointer-events: none;
}

/* === Layout global === */
.content {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* === Sections === */
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* === Titres === */
h1,
h2,
h3 {
  margin-bottom: 1rem;
  color: #a855f7; /* Violet clair moderne */
}
