@use "./base/reset";
@use "./base/variables" as *;
@use "./base/mixins" as *;
@use "./base/globals";

@use "./layout/navbar";
@use "./layout/footer";
@use "./layout/modal";

@use "./components/hero";
@use "./components/projects";
@use "./components/project-card";
@use "./components/project-slider";
@use "./components/skills";
@use "./components/tech-badge";
@use "./components/cookie-consent";
@use "./components/loader";
@use "./components/form";
@use "./components/login";

@use "./admin/admin-shared";
@use "./admin/admin";
@use "./admin/management";
@use "./admin/add-project";
@use "./admin/technologies";
