.skills {
  text-align: center;
  padding: 3rem 1rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .skills-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    transition: transform 0.3s ease;
    cursor: pointer;

    span {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: #ccc;
    }

    &:hover {
      transform: scale(1.15);
    }
  }
}
@media (max-width: 768px) {
  .skills{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

}
